@model IEnumerable<WebMvcClinica.Models.Especialidade>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EspName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspAdd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspDelete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EspName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EspDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EspStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EspAdd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EspUpdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EspDelete)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.EspId">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.EspId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.EspId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () { 
            var table = new DataTable('#myTable', {
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
                },
            });
        })
    </script>
}