@model WebMvcClinica.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuLastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuLastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuSueldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuSueldo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuIntentos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuIntentos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuPerfil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuPerfil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuAdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuAdd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rol.RolId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UsuId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
